<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application>
        <service
            android:name="com.tchvu3.capacitorvoicerecorder.RecordingForegroundService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
    </application>
</manifest>
